<div
  class="flex justify-center p-14 my-52 border border-light-blue m-auto w-1/4 flex-col rounded-2xl min-w-96"
>
  <form [formGroup]="form">
    <app-input
      formControlName="email"
      label="Email: "
      placeholder="Email"
      [required]="true"
      appAutofocus
    ></app-input>

    <app-input
      type="password"
      formControlName="password"
      label="Password: "
      placeholder="Password"
      [required]="true"
    ></app-input>

    <div class="flex justify-center w-full" *ngIf="errorData">
      <ul>
        <li *ngFor="let error of errorData" class="text-warning">
          <i class="pi pi-exclamation-triangle px-2"></i>{{ error.msg }}
        </li>
      </ul>
    </div>

    <app-form-button
      [loading]="loading"
      [disabled]="form.invalid"
      [text]="'Submit'"
      [submit]="submit"
    />
  </form>
</div>
