<nav class="flex justify-between m-5 border border-light-blue rounded-2xl px-4 py-2">
  <div class="flex align-middle">
    <img src="../../favicon.ico" alt="icon" class="object-contain"/>
    <div class="flex-col justify-center p-5">
      <a routerLink="/" class="menu-item text-dark-blue">Home</a>
      <div class="text-underline"></div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-col justify-center p-5">
      <a routerLink="login" class="menu-item text-dark-blue">Login</a>
      <div class="text-underline"></div>
    </div>
    <div class="flex-col justify-center p-5">
      <a routerLink="register" class="menu-item text-dark-blue">Register</a>
      <div class="text-underline"></div>
    </div>
  </div>
</nav>
